@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------------- background */

body {
    background-color: #ffffff;
    background-image: url(../images/rolling-stone.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

.navigation {
    background-color: rgb(248, 249, 250);
    background-color: rgba(248, 249, 250, 0.7);
}

.transparent-back {
    max-width: 70%;
    padding: 1rem;
    background-color: rgb(248, 249, 250);
    background-color: rgba(248, 249, 250, 0.7);
    margin-bottom: 2rem;
    font-family: "Exo", sans-serif;
}

/*---------------------------------------------------------- headings */

.navigation {
    display: inline-block;
    margin-top: 25px;
}

.band-title {
    font-weight: 700;
    font-size: 4rem;
    display: block;
    white-space: normal;
}

.nav-item {
    font-family: "Exo", sans-serif;
    font-weight: 500;
}

/*------------------------------------------------------------ index */

.welcome {
    margin-top: 50px;
    padding-top: 25px;
}

.app-photo {
    margin-bottom: 3rem;
}

/*------------------------------------------------------------ band */

.band-description {
    padding: 10px;
    display: inline-block;
    margin-top: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}

.line-up {
    padding: 10px;
    margin-top: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-bottom: 75px;
}

.band-photo {
    margin-bottom: 20px;
    max-height: 300px;
    max-width: 150px
}

.member {
    display: block;
    margin: 2rem auto;
}

.member-info {

    display: block;
    margin-left: 10px
}

/*--------------------------------------------------------------- media */

.video{
    margin-bottom: 3rem;
}

/*------------------------------------------------------------- contact */

.contact-header {
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 50px;
}

.submit {
    margin-top: 25px;
    margin-bottom: 100px;
    background-color: #fb1d2c;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

/*------------------------------------------------------------- footer */

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(248, 249, 250, 0.7);
}

.s-link {
    font-size: 20px;
    padding-right: 2.5rem;
}

.s-link a {
    color: #f51c29;
}

.s-link a:hover {
    color: #007bff;
}


/*------------------------------------------------------ media queries */

@media(min-width:360px) {

    .navigation {
        display: block;
        text-align: center;
    }

    .transparent-back {
        max-width: 95%;
        display: block;
        margin: 3rem auto;
    }

    .number {
        margin: 1rem auto;
    }
}

@media(min-width:768px) {
    .navigation {
        display: block;
    }

    .contact-form {
        margin: 0 auto;
        width: 70%;
    }

    .transparent-back {
        max-width: 70%;
    }
}
