@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------------- background colors */

.band-title {
    background-color: rgb(248, 249, 250);
    background-color: rgba(248, 249, 250, 0);
    white-space: normal;
}

.navigation {
    background-color: rgb(248, 249, 250);
    background-color: rgba(248, 249, 250, 0.7);
}

.band-description {
    background-color: rgb(248, 249, 250);
    background-color: rgba(248, 249, 250, 0.7);
}



/*--------------------------------------------- misc padding / margins */

body {
    margin: 10px;
}

/*---------------------------------------------------------- headings */

.navigation {
    display: inline-block;
    margin-top: 25px;
}

.band-title {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    display: block;
}

.nav-item {
    font-family: "Exo", sans-serif;
    font-weight: 500;
}

/*------------------------------------------------------------ section */

.paint-video {
    margin-top: 50px;
}

.band-description {
    padding: 10px;
    display: inline-block;
    margin-top: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 300;
}


/*------------------------------------------------------------- footer */

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(248, 249, 250, 0.7);
}

.s-link {
    font-size: 20px;
    padding-right: 2.5rem;
}

.s-link a {
    color: #f51c29;
}

.s-link a:hover {
    color: #007bff;
}


/*------------------------------------------------------ media queries */

@media(min-width:360px) {

    body {
        background-color: #f51c29;
    }

    .navigation {
        max-width: 70%;
        width: 70%;
        display: center;
    }

    .wrapper {
        display: center;
        text-align: left;
    }

    .band-description {
        max-width: 90%;
        width: 90%;
        display: center;
    }
}

@media(min-width:768px) {
    .navigation {
        display: inline-block;
    }

    .wrapper {
        text-align: center;
    }

    body {
        background-color: #ffffff;
        height: 100vh;
        background-image: url(../images/rolling-stone.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .band-description {
        max-width: 70%;
        width: 70%;
    }
}
