@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------------- background colors */

/*--------------------------------------------- misc padding / margins */

body {
    margin: 50px%;
}

/*---------------------------------------------------------- headings */

.navigation {
    display: inline-block;
    margin-top: 25px;
    background-color: rgba(248, 249, 250, 0.7);
}

.band-title {
    background-color: rgba(248, 249, 250, 0.1);
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    display: block;
}

/*------------------------------------------------------------ section */

.paint-video {
    margin-top: 50px;
}


/*------------------------------------------------------------- footer */

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(248, 249, 250, 0.7);
}

.s-link {
    font-size: 20px;
    padding-right: 2.5rem;
}

.s-link a {
    color: #f51c29;
}

.s-link a:hover{
        color: #007bff;
}


/*------------------------------------------------------ media queries */

@media(min-width:360px) {
    .navigation {
        max-width: 70%;
        width: 70%;
        display: block;
    }

    .wrapper {
        text-align: left;
    }
}

@media(min-width:768px) {
    .navigation {
        display: inline-block;
    }

    .wrapper {
        text-align: center;
    }

    body {
        height: 100vh;
        background-image: url(../images/rolling-stone.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
